[Main_Settings]
; No actual orders will be placed in a dry run.
; y/yes/1/true are all valid 'true' values here.
Dry_Run = true

; Donation to support development
; Units: %
Donate_Percent = 0.1

; Makes the whole thing seem more matrix-ish
Gaudy_Startup_Sequence = true

; Define something here if you want stdout
; also logged to a file
Log_File = LOG_FILE_PATH

[Trade_Settings]
; Exchange for this coin.
Coin_To_BUY = ETH

; Maximum number of trades to reach target coin
Max_Trades = 3

; Market buys are not supported by the API, so we have to guess at
; a price limit which is likely to sell quickly.
; Right now this is implemented by just over/under-shooting the
; ask/bid rate by some percentage.
; If you were more patient and optimistic you could make this zero,
; or even negative, but you run the risk of the later trades in your
; route changing against your favor in the mean time.
; Units: %
Rate_Overshoot = 0.5

; Sell only a percentage of available coins?
; Units: %
Sell_Percent_Of_Available_Balance = 100

[Cryptopia]
Public_Key  = YOUR_PUBLIC_KEY_HERE
Private_Key = YOUR_PRIVATE_KEY_HERE

[Withdraw]
; Auto withdraw will withdraw coins to an external wallet. The API
; must first be configured to allow this, and the address should be
; in your Cryptopia AddressBook.
;
; Auto withdraw will respect stop balances set in the [Keep_Balance]
; section below. It can also be configured to withdraw only if the
; available balance is above a designated threshold.
Auto_Withdraw = true
Withdraw_Currency  = COIN_SYMBOL
Withdraw_Address   = <YOUR_WALLET_ADDRESS>
Withdraw_Percent   = 100
Withdraw_Threshold = 0.1

[Keep_Balance]
; If you'd like to keep a balance of any coin, list it here
; in a 'COIN = BALANCE' pair.
; e.g. if I wanted to never have less than 1.5 LTC, then I
; would add a line like
; LTC = 1.5
